.Applymain{
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    display: flex;
    color: #f7f7eb;
    background-image: repeating-linear-gradient(135deg, #7a2329, #7a2329 120px, #121f30 120px, #121f30 240px);
}

.ApplyButtonSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    align-content: center;
    height: 100%;
    width: 100%;
    padding: 1em;
    gap: 1em;
}

.OptionButtoncontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding-top: 4em;
    gap: 3em;
}

.OptionTitle{
    text-align: center;
    font-style: italic;
    font-size: 3vw;
}

.OptionButton{
    font-size: 2vw;
    height: 100%;
    padding: 1em;
    border-radius: 2rem;
    border: 4px solid white;
    background-color: #7a2329;
}

@media screen and (max-width: 968px) {
    .ApplyButtonSection{
        flex-direction: column;
        justify-content: flex-start;
        gap: 5em;
    }

    .OptionTitle{
        font-size: 2rem;
    }

    .OptionButton{
        font-size: 1.5rem;
    }
    
    .OptionButtoncontainer{
        padding-top: 0rem;
    }
}