.PageTemplatemain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 3rem;
    width: 100%;
    height: 100%;
    color: #f7f7eb;
    padding-bottom: 3rem;
    background-color: #121f30;
    opacity: 1;
    z-index: 2;
}

.PageTemplatesection {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: .5rem;
    background: radial-gradient(circle at top left,transparent 9%, #121F30 10% ,#121F30 15% , transparent 16%) , radial-gradient(circle at bottom left,transparent 9%, #121F30 10% ,#121F30 15% , transparent 16%), radial-gradient(circle at top right ,transparent 9%, #121F30 10% ,#121F30 15% , transparent 16%) , radial-gradient(circle at bottom right,transparent 9%, #121F30 10% ,#121F30 15% , transparent 16%),radial-gradient(circle, transparent 25%, #7a2329  26%),linear-gradient(0deg, transparent 44%, #121F30 45%, #121F30 55%, transparent 56%), linear-gradient(90deg, transparent 44%, #121F30 45%, #121F30 55%, transparent 56%);
    background-size: .2em .2em;
    background-color: #7a2329;
    color: #f7f7eb;
    padding: 1rem;
    border-radius: 1em;
    z-index: 2;
}

.PageTemplatecontainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 2;
}

.PageTemplateContent {
    height: 100%;
    width: 90%;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: left;
    color: #f7f7eb;
    font-family: 'PT Sans', sans-serif;
    z-index: 2;
}


/* PHONES */
@media screen and (max-width: 960px) {
    .PageTemplateContent {
        font-size: 4vw;
        width: 100%;
    }
    
}